// Mixins in here

.btn-blue() {
    display: inline-block;
    padding: 12px 52px;
    background: @button-bg;
    color: @white;
    border-radius: 10px;
    font-size: 1.8rem;
    &:hover {
        background: @white;
        color: @font-color;
    }
}